<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem ipsum dolor sit amet
    <span highlight>consectetur adipisicing elit. Facere</span> vel delectus
    numquam aliquid itaque nulla. Alias fugiat est, voluptatem commodi soluta,
    ad et eveniet odit rem perferendis porro, quidem iste.
  </p>
  <p class="text-xs">
    Numero de clientes @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()" />
    }
  </p>
  <div>
    <app-wave-audio audioUrl="/relaxing-guitar-loop-v5-245859.mp3" />
  </div>
</div>
